<!-- router necesario usar ion viw que le permite
	a ionic enrrutar correctamente el contenido-->

<ion-view>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
      	<div> {{welcome}} </div>
      	<!--<input type="checkbox" ng-model="dato1">
      	<input type="checkbox" ng-model="dato2">
      	<h2 ng-show="dato1">Dato : 1</h2>
      	<h2 ng-hide="dato2">Dato : 2</h2>
      	<div class="list card">
      		<div class="item item-avatar">
      			<img src="img/descarga.jpg" alt="">
      			<h2>Avicci</h2>
      			<p>Abril 23 de 2018</p>
      		</div>
      	</div>

  	 	<div class="">
      		<div class="item item-body">
      			<img src="img/avicci.jpg" alt="" height="200px">
      			<p>Tim Bergling (Estocolmo, 8 de septiembre de 1989 - Mascate, 20 de abril de 2018),1​ más conocido por su nombre artístico Avicii (estilizado como ◢ ◤ o ΛVICII), fue un disc-jockey, productor y remezclador sueco.2​ Es el creador de algunos éxitos de la última década tales como Wake Me Up, Hey Brother, Addicted to You, Broken Arrows, For a Better Day, Fade Into Darkness, The Days, The Nights, Waiting For Love, Seek Bromance, You Make Me y, en especial, Levels, que, a pesar de tardar nueve meses en ser reconocida, logró darle fama y éxito al DJ.</p>
      			<a href="#" class="subdued"> 1 like</a>
      			<a href="#" class="subdued"> 1 Comments</a>
      		</div>
      	</div>

      	<ion-list show-delete="True">
      		<ion-item>Messi</ion-item>
      		<ion-item href="#">James</ion-item>
      		<ion-item href="https://ionicframework.com/">Falcao</ion-item>
      		<ion-item>luis suares
      				<ion-delete-buttom class="ion-minus-circled" ng-click="algo()"> </ion-delete-buttom >
      		</ion-item>
      		<ion-item>entrar</ion-item>


      	</ion-list>
      -->
        <cliente nombre= "'Nilson Alberto Gil'">   


    </cliente>

      </ion-content>
    </ion-view>